.box {
    padding: 20px;
    color: #fff;
    background: deepskyblue;
  }
  
  .margin-top-80 {
    margin-top: 80px;
  }
  
  h1 {
    font-size: 6em;
    color: rgb(20, 120, 145);
    text-align: center;
  }

  .front-page {
      text-align: center;
      margin-left: 75px;
      margin-right: 75px;
  }

  .data-page {
      text-align: center;
  }

  .comp-page {
      text-align: center;
  }

  #data {
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid rgb(97, 97, 121)
  }

  
  h3 {
      color: rgb(52, 67, 117);
      text-align: center;
      font-size: 3em;
      font-style: italic;
  }

  .img_1 {
      padding: 10px;
      border: 2px solid;
      background-color: rgb(89, 131, 180);
  }

      
.caption {
    text-align: center;
}

.subpage {
    text-align: center;
    color: rgb(20, 120, 145);
    font-size: 4em
}

.row {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.exp {
    margin-top: 75px;
}